/* Set A4 dimensions */
html{
    height:297mm;
    width:210mm;
    border:1px solid black;
    margin:auto;
}

body{
    height: 100%;
    margin: 0;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

main{
    min-height: 100%;
    align-items: stretch;
}

main > * {
    padding: 0.5% 2%;
}

header{
    background-color: #0D8FCD;
    color: white;
    height: 100px;
    align-items: center;
}

#identity{
    flex-grow: 4;
}

#details{
    flex-grow: 3;
}

#pic{
    flex-grow: 1;
    align-items: center;
}

header, article, footer {
    flex-shrink: 0;
}

.flc{
    display: flex;    
    flex-direction: column;
}

.flr{
    display:flex;
}

h1, h2, h3, p{
    margin:0;
}

h3 {
    font-variant: small-caps;
    font-size: x-large;
    background-color: #0d8fcd42;
}

i{
    margin-right: 8px;
    line-height: 1;
    position: relative;    
}

#details i {
    font-size: xx-small;
}

#main_content i{
    color: #0D8FCD;    
}

/* ARTICLE */
#main_content {
    flex-grow: 1;
    align-items: stretch;
    min-height: 100%;
    justify-content: space-around;
}

article{
    row-gap: 8px;
}

.ex{
    row-gap: 12px;
}

.ex_info {
    row-gap: 8px;
    font-size: large;
    font-weight: 500;
}

/* Gap inside blocks */
.inbgap{
    row-gap: 16px;
}

/* Gap for paragraphs */
.pgap{
    row-gap: 8px;
}

.company{
    width:25%;
}

.position{
    width:40%;
}

.date{
    width:25%;
}

.location{
    width:10%;
    text-align: right;
}

/* FOOTER */
footer{
    justify-content: space-evenly;
    align-items: flex-end;
    flex-basis: auto;   
    background-color: #e9edf1;
    padding:0;
}

footer > div{
    justify-content: center;
    align-items: center;
}